body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}



#container {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
}

button {
    height: 20px;
    width: 30px;
}

#display {
    width: 180px;
    border: 4px silver solid;
    background-color: #96ecff;
    font-size: 20px;
    margin: 8px;
    color: #000000a2;
    box-shadow: 0 0 30px #008ee6;
  }